<!DOCTYPE html>
<html>
<head>
  <title>Mi primera aplicación en VUEJS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
	<div id="app-2">
	  <span v-bind:title="message">
		Mueva el mouse sobre mí durante unos segundos
		para ver mi título enlazado dinámicamente.
	  </span>
	</div>
	<div id="app-3">
  <span v-if="seen">Ahora me ves</span>
	</div>
	
	<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
	<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Mensaje invertido</button>
</div>


<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<ol>
  <!-- Crea una instancia del componente todo-item -->
  <todo-item></todo-item>
</ol>

<div id="app-7">
  <ol>
    <!--
      Ahora proporcionamos a cada todo-item con el objeto todo
      que representa, para que su contenido pueda ser dinámico.
      También necesitamos proporcionar a cada componente con una "clave",
      que vamos a explicar más adelante.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>










  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  </script>
 
  <script>
  var app2 = new Vue({
  el: '#app-2',
  data: {
    message: 'Usted cargó esta página el ' + new Date().toLocaleString()
  }
})
  </script>
  <script>
  var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: false
  }
})
  </script>
  <script>
  var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: 'Aprender JavaScript' },
      { text: 'Aprender Vue' },
      { text: 'Construir algo increíble' }
    ]
  }
})
  </script>
  <script>
  var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hola Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
  </script>
  
  <script>

var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hola Vue!'
  }
})
</script>


<script>
Vue.component('todo-item', {
  // El componente todo-item ahora acepta una
  // "propiedad", que es como un atributo personalizado.
  // Esta propiedad es llamada todo.
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})
</script>

<script>

Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})

var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { id: 0, text: 'Vegetales' },
      { id: 1, text: 'Queso' },
      { id: 2, text: 'Cualquier otra cosa que se supone que los humanos coman' }
    ]
  }
})

</script>
</body>
</html>